// media queries 
@media (min-width: 640px){

  .main{
    padding: 3rem;
  }

  .quotes{
    font-size: 1.3rem;
  }

  .info{
    .greeting__text{
      font-size: 1.3rem;
    }

    .info__time{
      font-size: 10rem;
    }

    .info__abbreviation{
      font-size: 1.3rem;
    }

    .info__city{
      font-size: 1.3rem;
    }

    .info__index{
      font-size: 1.3rem;
    }
  }

  .details{
    padding: 1rem 3rem;

    .details__container{
      font-size: 1.3rem;
    }

    .details__highlighted{
      font-size: 1.5rem;
    }
  }


  .day{
    background: url("../assets/tablet/bg-image-daytime.jpg")  no-repeat center fixed;
    background-size: cover;
  }
  
  .night{
    background: url("../assets/tablet/bg-image-nighttime.jpg")  no-repeat center fixed;
    background-size: cover;
  }
}

@media (min-width: 1024px){

  .main{
    padding: 5rem;
  }

  .quotes{
    font-size: 1.5rem;
  }

  .info{
    .greeting__text{
      font-size: 1.5rem;
    }

    .info__time{
      font-size: 12rem;
    }

    .info__abbreviation{
      font-size: 1.5rem;
    }

    .info__city{
      font-size: 1.5rem;
    }

    .info__index{
      font-size: 1.5rem;
    }
  }

  .details{
    padding: 1rem 5rem;

    .details__container{
      font-size: 1.5rem;
    }

    .details__highlighted{
      font-size: 1.5rem;
    }
  }

  .day{
    background: url("../assets/desktop/bg-image-daytime.jpg")  no-repeat center fixed;
    background-size: cover;
  }
  
  .night{
    background: url("../assets/desktop/bg-image-nighttime.jpg")  no-repeat center fixed;
    background-size: cover;
  }
}

@media (min-width: 1600px){
  .main{
    padding: 7rem;
  }

  .quotes{
    font-size: 2rem;
  }

  .info{
    .greeting__text{
      font-size: 2rem;
    }

    .info__time{
      font-size: 15rem;
    }

    .info__abbreviation{
      font-size: 2rem;
    }

    .info__city{
      font-size: 2rem;
    }

    .info__index{
      font-size: 2rem;
    }
  }

  .details{
    padding: 2rem 7rem;

    .details__container{
      font-size: 2rem;
    }

    .details__highlighted{
      font-size: 2rem;
    }
  }
}