// media queries 
@media (min-width: 640px){

  .main{
    padding: 3rem;
  }

  .quotes{
    font-size: 1.5rem;
  }

  .info{
    .greeting__text{
      font-size: 1.5rem;
    }

    .info__time{
      font-size: 10rem;
    }

    .info__abbreviation{
      font-size: 1.5rem;
    }

    .info__city{
      font-size: 1.5rem;
    }

    .info__index{
      font-size: 1.5rem;
    }
  }


  .details{
    color: $primary-color;
    padding: 3rem;
    
  }


  .day{
    background: url("../assets/tablet/bg-image-daytime.jpg")  no-repeat center fixed;
    background-size: cover;
  }
  
  .night{
    background: url("../assets/tablet/bg-image-nighttime.jpg")  no-repeat center fixed;
    background-size: cover;
  }
}

@media (min-width: 1025px){
  .day{
    background: url("../assets/desktop/bg-image-daytime.jpg")  no-repeat center fixed;
    background-size: cover;
  }
  
  .night{
    background: url("../assets/desktop/bg-image-nighttime.jpg")  no-repeat center fixed;
    background-size: cover;
  }
}

@media (min-width: 1600px){
  
}