.quotes{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding-bottom: 3rem;

  &__btn{
    background: transparent;
    border: none;
    outline: none;
    margin: 1.5rem 0.5rem;
  }

  &__author{
    font-weight: 700;
    margin: 0;
  }
}

