.main{
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow:inset 0 0 0 2500px rgba(0, 0, 0, 0.4);
  color: $primary-color;
}

.quotes{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding-bottom: 3rem;

  &__btn{
    background: transparent;
    border: none;
    outline: none;
    margin: 1.5rem 0.5rem;
  }

  &__author{
    font-weight: 700;
    margin: 0;
  }
}

.info{
  margin: 1rem 0;

  &__time{
    font-size: 6.4rem;
    font-weight: 700;
  }

  &__city{
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__index{
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.greeting{
  display: flex;
  align-items: center;

  &__text{
    margin: 0;
    padding-left: 0.5rem;
    font-size: 14px;
  }
}

.rotatable{
  animation: spin 8s linear infinite;
}

@keyframes spin { 100% { transform:rotate(360deg); } }

// support
.prop{
  position: relative;
}

.day{
  background: url("../assets/mobile/bg-image-daytime.jpg")  no-repeat center fixed;
  background-size: cover;
}

.night{
  background: url("../assets/mobile/bg-image-nighttime.jpg")  no-repeat center fixed;
  background-size: cover;
}


