.quotes{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding-bottom: 3rem;
  max-width: 800px;

  &__btn{
    background: transparent;
    border: none;
    outline: none;
    margin: 0.2rem 1rem;  
    cursor: pointer;
    transition: 0.3s;

    &:hover{
      transform: rotate(45deg);
    }
  }

  &__text{
    margin: 0 0 1rem 0;
  }

  &__author{
    font-weight: 700;
    margin: 0;
  }

  &__btn--text{
    width: 20px;
    height: 20px;
  }
}

