.main{
  background: url("../assets/mobile/bg-image-daytime.jpg")  no-repeat center fixed;
  background-size: cover;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
}

@media (min-width: 640px){
  .main{
    background: url("../assets/tablet/bg-image-daytime.jpg") no-repeat center fixed;
    background-size: cover;
  }
}

@media (min-width: 1025px){
  .main{
    background: url("../assets/desktop/bg-image-daytime.jpg") no-repeat center fixed;
    background-size: cover;
  }
}

@media (min-width: 1600px){
  .main{
    background: url("../assets/desktop/bg-image-daytime.jpg") no-repeat center fixed;
    background-size: cover;
  }
}

.quotes{
  display: flex;
  align-items: center;
}