.main{
  background: url("../assets/mobile/bg-image-daytime.jpg")  no-repeat center fixed;
  background-size: cover;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 640px){
  .main{
    background: url("../assets/tablet/bg-image-daytime.jpg") no-repeat center fixed;
    background-size: cover;
  }
}

@media (min-width: 1025px){
  .main{
    background: url("../assets/desktop/bg-image-daytime.jpg") no-repeat center fixed;
    background-size: cover;
  }
}

@media (min-width: 1600px){
  .main{
    background: url("../assets/desktop/bg-image-daytime.jpg") no-repeat center fixed;
    background-size: cover;
  }
}

.quotes{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.2rem;
  margin: 0;

  &__btn{
    background: transparent;
    border: none;
    outline: none;
    margin: 1rem;
  }

  &__text{
    font-weight: 400;
    margin: 0;
  }

  &__author{
    font-weight: 700;
  }
}

.info{
  margin: 1rem 0;

  &__time{
    font-size: 5rem;
  }

  &__city{
    font-size: 1.2rem;
  }

  &__index{
    font-size: 1.2rem;
  }
}

.greeting{
  display: flex;

  &__text{
    margin: 0;
    padding-left: 0.5rem;
    font-size: 14px;
  }
}

// switch btn 
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:checked + .slider:before {
  transform: translateX(55px);
}
.on
{
  display: none;
}

.on, .off
{
  color:black;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}