@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: black;
  height: 100vh; }

.switch {
  border: none;
  padding: 1em;
  outline: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  width: 100px; 
}
  .switch:before, .switch:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    border-radius: 10em;
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(120deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); }
  .switch:before {
    filter: blur(7px);
    transition: all .25s ease;
    animation: pulse 4s infinite ease; }
  .switch:after {
    filter: blur(0.3px); }
  .switch:hover:before {
    width: 115%;
    height: 115%; }

.main {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0 0 0 2500px rgba(0, 0, 0, 0.4);
  color: white; }

.quotes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding-bottom: 3rem; }
  .quotes__btn {
    background: transparent;
    border: none;
    outline: none;
    margin: 1.5rem 0.5rem; }
  .quotes__author {
    font-weight: 700;
    margin: 0; }

.info {
  margin: 1rem 0; }
  .info__time {
    font-size: 6.4rem;
    font-weight: 700; }
  .info__city {
    font-size: 1.5rem;
    font-weight: 700; }
  .info__index {
    font-size: 1.5rem;
    font-weight: 700; }

.greeting {
  display: flex;
  align-items: center; }
  .greeting__text {
    margin: 0;
    padding-left: 0.5rem;
    font-size: 14px; }

.rotatable {
  animation: spin 8s linear infinite; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }
.prop {
  position: relative; }

.day {
  background: url("../assets/mobile/bg-image-daytime.jpg") no-repeat center fixed;
  background-size: cover; }

.night {
  background: url("../assets/mobile/bg-image-nighttime.jpg") no-repeat center fixed;
  background-size: cover; }

.details {
  color: white;
  padding: 1rem; }
  .details .details__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .details .details__highlighted {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1rem 0; }

@media (min-width: 640px) {
  .main {
    padding: 3rem; }

  .quotes {
    font-size: 1.5rem; }

  .info .greeting__text {
    font-size: 1.5rem; }
  .info .info__time {
    font-size: 10rem; }
  .info .info__abbreviation {
    font-size: 1.5rem; }
  .info .info__city {
    font-size: 1.5rem; }
  .info .info__index {
    font-size: 1.5rem; }

  .details {
    color: white;
    padding: 3rem; }

  .day {
    background: url("../assets/tablet/bg-image-daytime.jpg") no-repeat center fixed;
    background-size: cover; }

  .night {
    background: url("../assets/tablet/bg-image-nighttime.jpg") no-repeat center fixed;
    background-size: cover; } }
@media (min-width: 1025px) {
  .day {
    background: url("../assets/desktop/bg-image-daytime.jpg") no-repeat center fixed;
    background-size: cover; }

  .night {
    background: url("../assets/desktop/bg-image-nighttime.jpg") no-repeat center fixed;
    background-size: cover; } }

/*# sourceMappingURL=main.css.map */
