.switch{
  margin-bottom: 3rem;
  padding: 0.7rem;
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-decoration: none;

  &:before, &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    z-index: -2;
    background: linear-gradient(120deg, #977553, #f37055, #913a52, #a166ab, #5073b8, #1098ad, #568b84, #6fba82);
  }
  &:before {
    filter: blur(7px);
    transition: all .25s ease;
    animation: pulse 4s infinite ease;
  }
  &:after {
    filter: blur(0.3px);
  }
  &:hover {
    &:before {
      width: 115%;
      height: 115%;
    }
  }
}